<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Login | Sistema Jurídico</title>
    <link href="~/css/toastr.min.css" rel="stylesheet">

    <link href="~/css/app.css" rel="stylesheet">
    <link href="~/css/loading.css" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100">
        @RenderBody();
    </main>

    <div class="loading">
        <div class="loader"></div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.10.13/jquery.mask.min.js" integrity="sha512-WazWVZu8qV7xpWrAmf6IhkpZ2VrT/5J/8duogXyjb/ogIdi2JQ4Z/v2tQQEa6SKsr1Fao4QA39wqeS05sCtbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/utils/requisicao.js"></script>
    <script src="~/js/utils/masks.js"></script>
    <script src="~/js/utils/validators.js"></script>
    <script src="~/js/app.js"></script>
    @await RenderSectionAsync("JS", required: false)
</body>
<script>
    $(".loading").fadeOut("slow");
</script>
</html>